<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title >
		
	</title>
</head>
<body>

	<div class="container has-bg-img">
		<img src="http://osolehost.com/talpsa/imagenes/slider/FLTnFsa6pK3wVcm7UBBuSbRv0EphW7VByiCh8ln6.png" alt="" class="bg-img position-relative bg-overlay", style="opacity: 0.6;">
		<div class="row">
		<h1>Bienvenido al centro de compras de pasaje de PLAT .AS</h1>
		</div>
		<div class="row">
			<div class="col"><h1>contacto</h1></div>
			<div class="col-5"><%= render 'main/compra'%></div>
			<div class="col"><h1>anuncio</h1></div>
		</div>
		<div class="row"><h1>info</h1></div>	
	</div>
	


</body>
</html>