<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #B0D0FA;">
  <div class="container-fluid">

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <ul class="nav navbar-nav w-100 justify-content-start">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Conocenos!</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#">Puntos de ventas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#">Alquiler de unidades</a>
        </li>
      </ul>

      <nav class="nav navbar-nav w-100 justify-content-center">  
        <a class="navbar-brand" href="#">       
          <%= link_to '/posts', :class=>'navbar-brand' do %> 
            <%= image_tag 'talp_sin_fondo_mejor_chica.png' %>
          <% end %>
        </a>
      </nav>

      <nav class="nav navbar-nav ms-auto w-100 justify-content-end">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Recorridos
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Costera</a></li>
            <li><a class="dropdown-item" href="#">Casco urbano (La Plata)</a></li>
            <li><a class="dropdown-item" href="#">Media distancia</a></li>
            <li><a class="dropdown-item" href="#">Larga distancia</a></li>
          </ul>
        </li>
        <a class="nav-link active" href="#">Recargá tu SUBE</a>
        <a class="nav-link active" href="#">Mi cuenta</a>
      </nav>
      
    </div>
  </div>
</nav>