<header>
  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        
        <%= link_to root_path, class: 'navbar-brand' do %>
          <%= image_tag "https://upload.wikimedia.org/wikipedia/commons/thumb/1/18/Logo_de_TALP_S.A..svg/640px-Logo_de_TALP_S.A..svg.png", title: "Logo", class: "logo", style: "max-width:20%;" %>
        <% end %>
      </div>
      <div class="collapse navbar-collapse">
        
      </div><!--/.nav-collapse -->
    </div>

  </div>
</header>